@media only screen and (max-width: 600px) {

    .menuright{
        padding-right: 15px;
    }
    .menuright .fa{
        display: none;
    }
/*.menuright .fa-bell{
    display: inline-block;
    padding: 0px;
    text-align: start;
    padding-right: 10px;
}
*/

.searchbtn{
    width: 35px;
}
.pmenu{
    display: inline-block;
    margin-top: 0;
    bottom: 100px;
}
.logoimg{
    display: none;
}


.signbtn{
    color: blue;
    font-size: 14px;
    font-weight:bold;
    border: none;
    bottom: 5px;
    position: relative;
    outline: none;
}
.signbtn .fa{
    color: white;
    padding-right: 5px;
    font-size: 14px;
    display: inline-block;
    background: #0a53be;
    border-radius: 50%;
    padding: 7px;
}
.signbtn span{
    display: none;
}
.signbtn:focus{
    outline: none!important;
    box-shadow: none!important;
    border: none;
}
    .profilemenu{
        top: 5px;
        height: 26px;
        border-radius: 50%;
        width: 26px;
    }
    .logo {
         padding-left: 10px;
        padding-top: 15px;
    }
.sideNavOpen{
    background: white;
    height: 100%;
    width: 0px;
    display: none;
    transition: 0.2s;
}
.sideNavClose {
    height: 100%;
    width: 240px;
    position: fixed;
    display: block;
    transition: 0.2s;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 0 0 8px 0 rgba(57, 78, 234, 0.1)
}

.contentOpen{
    margin-left: 0px;
}
.contentClose{
    margin-left: 0px;
}

.ContentOverlayOpen {
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: rgba(233, 229, 229, 0.5);
}
.ContentOverlayClose {
    display: none;
}

.sideLogo{
    display: block;
    border-bottom: 1px solid #dedcdc;
}

.sideMenuItem{
    margin-top: 0px;
}

.count{
    display: none;
}

.post_row{
    margin-right: 0;
}
.slideimg{
    height: 150px;
}

.single_p_img{
    height: 200px;
}

.sicon ul li{

    padding: 0px 0px 0px 20px;
    margin-top: 20px;
}
ol, ul {
    padding-left: 0;
}
.pimginput{
    width: 50px!important;
}
.pimgsection{
    width:45px;
}
.rrpic{
    width: 40px;
}
.pdropdownmenuClose{
    display: none;
}
.pdropdownmenuOpen{
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    border: none;
    //border-top: 1px solid #dedbdb;
    overflow: scroll;
    padding-bottom: 50px;
}


.dropdown_head{
    height: 56px;
    border-bottom:1px solid #dedbdb;
    padding-left: 25px;
    padding-top: 10px;
    display: block;
    font-size: 20px;
}
.notify_open{
    width: 100%;
    right: 0px;
}
.dropdown_head_desk{
    display: none;
}
    .acc_list {
        padding-left: 15px;
        padding-bottom: 30px;
    }
    .acc_list a{
        padding: 10px 5px;
        font-size: 0.9rem;
        font-weight: 100;
        font-family: "Arial Black";
    }
.p_settings{
    padding: 20px;
}
    .cat{
        border: none;
        padding: 50px;
        background-color: transparent;
    }
    .banner_content{
        height: auto;
    }


    .dashboard{
        width: 100%!important;
    }


    .post_img{
        height: 195px!important;
        width: 100%;
    }
    .post_row{
        margin-right: 0px;
    }
    .bannerimg{
        height: 195px!important;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: 0;
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }

}
