body{
    //background: #F1F1F1;
    //font-family: 'Roboto', SansSerif;
    color: #3b3a3a;
    background: #f8f9fa;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #454444;
}
a:hover{
    color: black;
}
.topmenu{
    height: 56px;
    width: 100%;
    padding: 0 16px;
    background: white;
    position: fixed;
}
.logo{
    padding-left: 25px;
    padding-top: 15px;
}
.logoimg{
    height: 22px;
    width: auto;
    margin-left: 25px;
}

.search{
    padding-top: 12px;
}
.searchbtn{
    width: 70px;
    color: #a5a3a3;
    font-size: 13px;
}
.searchbtn:hover{
    border: 1px solid #cdcbcb;
    color: black;
    background: white;
}
.menuright{
    padding-top: 12px;
    text-align: end;
    padding-right: 30px;
}
.menuright .fa{
    padding-right: 30px;
    color: #5b5959;
    font-size: 20px;
    display: inline-block;
}
.pmenu{
    display: inline-block;
}
.profilemenu{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.signbtn{
    color: blue;
    font-size: 14px;
    font-weight:bold;
}
.signbtn .fa{
    color: blue;
    padding-right: 5px;
    font-size: 14px;
}
.sideNavOpen{
    background: white;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.2s;
}
.sideNavClose {
    height: 100%;
    width: 0px;
    position: fixed;
    display: none;
    transition: 0.2s;
    background-color: white;
}

.contentOpen{
    margin-left: 0px;
    transition: 0.2s;
}
.contentClose{
    margin-left: 240px;
    transition: 0.2s;
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #cac7c7;
}

.sideNavOpen:hover{
    overflow-y: scroll;
    overflow-x: hidden;
}

.sideLogo{
    padding: 16px;
    display: none;
}
.sideLogo .sidelogoimg{
    height: 22px;
    width: auto;
}

.sideLogo .fa{
    padding-right: 25px;
    color: #5b5959;
    font-size: 20px;
    padding-left: 15px;

}
.sideMenuItem{
    margin-top: 10px;
}
.sideMenuItem ul{
    padding-left: 0px;
}
.sideMenuItem ul li {
    //background: #cdcbcb;
    width: 230px;
}
.sideMenuItem ul li a{
    //background: #f18c8c;
    padding: 8px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #030303;
    font-size: 14px ;
    //font-family: Roboto,Noto,SansSerif;
    //font-weight: 400;
}
.sideMenuItem ul li .fa {
    padding-left: 16px;
    padding-right: 20px;
    font-size: 20px;
    color: #564e4e;
}
.sideMenuItem ul li .fab{
    padding-left: 16px;
    padding-right: 20px;
    font-size: 20px;
    color: #3b3a3a;
}
.sideMenuItem ul li.active {
    background: #cdcbcb;
}

.sideMenuItem ul li :hover {
    background: #efeeee;
}

.sideMenuItem ul li.active :only-child .fa{
    color: red;
}
.sidebottom {
    margin-left: 15px;
    padding: 10px;
}
.sidebottom a{
    text-decoration: none;
    color: #4f4f4f;
    font-weight: bold;
    padding-right: 10px;
    font-size: 14px;
}
.count{
    background: #be1717;
    border-radius: 50%;
    //padding: 3px;
    color: white;
    font-size: 10px;
    left: 28px;
    bottom: 15px;
    position: relative;
    display: inline-block;
    height: 17px;
    width: 17px;
    text-align: center;
}

.puserpic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px 10px 10px 0px;
}
.ptitle{
    color: black;
}
.views{
    line-height: 5%;
}
.puname{
    line-height: 5%;
}
.post_row{
    margin-right: 10px;
    margin-bottom: 100px;
}
.bannerimg{
    height: 300px;
    margin-top: 10px;
}
.banner_content{
    height: 300px;
    margin-top: 10px;
    overflow-y: hidden;
}
.banner_content:hover{
    //overflow-y: scroll;
}
.single_p_img{
    height: 400px;
}
.sicon {
   display: flex;
    justify-content: flex-end;
}
.sicon ul li{
    list-style: none;
    float: left;
    padding: 0px 0px 0px 20px;
    margin: auto;
    font-size: 16px;
    color: #393838;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    background-color: white;
    border: 1px solid #cdcbcb;
    border-radius: 1px;
    color: inherit;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
    outline: none!important;
    width: 100%;
}

.btn {
    border-radius: 0% !important;
    border: 1px solid #cdcbcb;
}
.btn:focus, input:focus, textarea:focus, select:focus{
    //outline: none !important;
    outline: #cdcbcb;
    box-shadow: none!important;
    //box-shadow: 0 0 8px 0 rgba(57, 78, 234, 0.1);
    border: 1px solid #cdcbcb;
    background: white;
    color: black;
}
.btn-primary{
    min-width: 100px;
    border-radius: 3px!important;
}
.btn-primary:focus{
    background-color: #3a6fb7;
    color: white;
}
.pimginput{
    width: 70px!important;
}
.pimgsection{
    width: 60px;
    //width:50px;
}

.comment_input{
    border: none;
    border-bottom: 1px solid gray;
    background: none;
}
.comment_input:focus{
    background: none;
    border: none;
    border-bottom: 1px solid black;
}
.comment_btn{
    margin-left: 20px;
    border-radius: 4px!important;
}
.comment_icon{
    margin-right: 20px;
}
.watch{
    margin-bottom: 100px;
}

.followbtn{
    width: 100px;
    border-radius: 4px!important;
}
.followbtnactive{
    width: 100px;
    border-radius: 4px!important;
    background: red!important;
    color: white!important;
}
hr{
    width: 230px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.pdropdownmenuClose{
    display: none;
}

.pdropdownmenuOpen{
    height: 100%;
    width: 300px;
    top: 0px;
    background-color: white;
    position: fixed;
    right: 80px;
    overflow: hidden;
    z-index: 10;
    border: 1px solid #dedbdb;
    border-top: none;
    display: block;
    overflow: hidden;
}
.pdropdownmenuOpen:hover{
    overflow-y: scroll;
    overflow-x: hidden;
}

.ptop{
    height: 100px;
    border-bottom: 1px solid #cbc7c7;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 20px;
}
.ptop h5{
    margin-bottom: 0px;
}
.ppic{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.pMenuItem{

}
.pMenuItem ul{
    padding-left: 0px;

}
.pMenuItem ul li a{
    padding: 8px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #675e5e;
    height: 46px;
    font-size: 14px ;
    /*border-bottom: 1px solid #d9d3d3;*/
}
.pMenuItem ul li .fa {
    padding-left: 16px;
    padding-right: 20px;
    font-size: 20px;
    color: #7e7373;
}
.pMenuItem ul li :hover {
    background: #efeeee;
}
.pMenuItem hr{
    width: 100%;
    margin-top: 0px;
}

.OverlayOpen {
    display: block;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.OverlayClose {
    display: none;
}
.dropdown_head{
    display: none;
}
.notify_open{
    height: 100%;
    width: 400px;
    top: 0px;
    background-color: white;
    position: fixed;
    right: 120px;
    overflow: hidden;
    z-index: 10;
    border: 1px solid #dedbdb;
    border-top: none;
    display: block;
}
.notify_close{
    display: none;
}
.dropdown_head_desk{
    height: 56px;
    border-bottom:1px solid #dedbdb;
    padding-left: 20px;
    padding-top: 10px;
    display: block;

}
.cover{
    width: 100%;
    height: 170px;
    overflow-y: hidden;
}
.cover_row{
    //background-color: #f1eeee;
    background-color:white;
}
.acc_img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    float: right;
}
.acc_list {
  padding-left: 50px;
    padding-bottom: 30px;
}
.acc_list a{
    padding: 10px 20px;
    font-size: 0.9rem;
    font-weight: 100;
    font-family: "Arial Black";
}
.acc_list a.active{
    border-bottom: 2px solid black;
    color: black;
}
.cover_row{
    margin: 0;
}

.p_settings{
    margin-bottom: 200px;
    padding: 50px;
    background-color: #faf8f8;
}
.p_settings label{
    padding-bottom: 5px;
    padding-top: 10px;
    color: black;
    font-weight: 400;
}
.cat-top{
    background-color: white ;
    color: black;
    border-top: 1px solid black;
}
.cat{
    border: 1px solid #0c0404;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
}
.post_create{
    margin-bottom: 100px!important;
}
.post_create .form-group .form-control{
   border:1px solid #868181;
}
.post_head{
    border-top:1px solid #eeecec;
    border-bottom:1px solid #eeecec;
    background: white;
}


.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: none;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: none;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.followuser{
    //padding: 50px;
    text-align: center;
}
.followuser img{
    height: 100px;
    width: 100px;
    border-radius:50% ;
}
.about a{
    margin-right: 15px;
    font-size: 20px;
}

.post_img{
    height: 152px;
    width: 100%;
}


.fa {cursor: pointer;}
.topmenu img{cursor: pointer;}
.sideLogo img{cursor: pointer;}


.cate {
  margin-top: 50px;
}

.vertical-menu {
    width: 200px;

}

.vertical-menu a {
    //background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

